@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background: rgb(12, 11, 41);
  background: radial-gradient(
      circle,
      rgba(12, 11, 41, 1) 0%,
      rgb(0, 2, 22) 55%,
      rgba(0, 0, 0, 1) 100%
    ),
    linear-gradient(186deg, rgba(11, 41, 40, 1) 0%, rgba(0, 22, 22, 1) 55%, rgba(0, 0, 0, 1) 100%);
  max-width: 1440px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  /* color: rgb(125, 243, 253); */
}
